<!DOCTYPE html>
<html lang="en">
    {%load static%}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="theme-color" content="#ffff00"> -->
        <title>Face Recognitio - Register</title>
        <link rel="stylesheet" href="{%static 'bulma/bulma.min.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

        <!-- Using the same styles for the login page for the signup page -->
        <link rel="stylesheet" href="{%static 'css/login.css' %}">
    </head>
    <body>
        <header>
            <h4 class="xl">Signup</h4>
        </header>
        <main>
            <div id="formdiv">
                <form method="post" action="/signup/">
                    {%csrf_token%}
                    <input type="email" class="input" placeholder="Email" name='email' required>
                    <input type="password" class="input" placeholder="Password" name="password" required>
                    <!-- <div id="showp"><input type="checkbox" name="" id="check"> Show password </div> -->
                    <input class="button is-primary submit" type="submit" value="Sign Up">

                </form>
                <br>
                <p>Already have an account? <a href='/login/'>Login</a></p>
            </div>
        </main>
    </body>
</html>